* {
    box-sizing: border-box;
    font-family: 'Lucida Sans','Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

body {
    border-color:#897d99;
    border-width: 5px;
}

nav {
    background-color: #1d3131c9;
    padding:25px;
    font-size: 20px;
    position: sticky;
    top:0;
}

nav h1 {
    display: inline-block;
    font-size: 48px;
}

nav ul {
    padding-top:15px;
    margin-right:20px;
    float:right;
}
nav li {
    display:inline;
    margin:20px;
    font-size: 30px;
    text-decoration: underline;
}

a:link {
    color:black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:active {
    color:black;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}
.body1 {
    border:#7563a7;
    margin: 40px;
    border-width: 5px;
    border-style:solid;
    
}

header {
    font-size:20px;
    display:flex;
    width: 100%;
}

header h2 {
    font-weight: bold;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 15px;
}

header p {
    margin-top: 15px;
    display: inline-block;
    font-size: 20px;
}



.allimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 4;
    
}

.allimages h2 {
    font-weight: bold;
}

.allimages>div {
    margin:20px;
}


.allimages>div>div {
    position: relative;
    bottom: 50px;
    width: 170px;
    border:solid;
    border-color: darkslategray;
    text-indent: 10px;
}

.allimages>div>a>img {
    border: 5px solid darkslategray;
}

.imagebox {
  opacity: 1;
  transition: 0.3s;
}
.imagebox:hover {
    opacity: .6;
}

.footer {
    padding:30px;
    clear:both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top:500px;
}

.footer h2 {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    body,
    .allimages {
      flex-direction: column;
    }
  }